body {
  background-image: linear-gradient(to left, #00b9ff 25%, #ffb800);
}

.search-form {
  /* background-color: blue; */
  padding: 10px 40px;
  display: flex;
  gap: 20px;
  margin: auto;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #f44336 15%,
    #09792b 40%,
    #00b9ff 65%,
    #ffb800
  );
}

input {
  margin-left: auto;
  width: 200px;
}

button {
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 10px;
  margin: 0 auto;
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  height: 400px;
  gap: 10px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.info {
  display: flex;
  gap: 15px;
  margin: 0 auto;
}

.info-item {
  display: flex;
  flex-direction: column;
}

img {
  width: 370px;
}

.is-hidden {
  display: none;
}
